.container {
  border-top: solid 1px black;
  .button-container {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 1px black;
    .button {
      &.selected {
        margin-bottom: -1px;
        border-bottom: solid 1px white;
      }
      cursor: pointer;
      display: inline-block;
      margin: 0 2px;
      padding: 5px;
      width: 70px;
      text-align: center;
      border-left: solid 1px black;
      border-right: solid 1px black;
      border-top: solid 1px black;
      border-radius: 2px 2px 0 0;
    }
  }
  .request-data-container,
  .response-data-container {
    padding: 5px 10px;
    .header-container {
      .header {
        display: inline-block;
        width: max-content;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 5px;
      }
    }
    .header-container,.row-container {
      .header-enable,.row-enable {
        display: inline-block;
        width: 60px;
      }
      .row {
        .icon {
          font-size: 23px;
          margin: 0 2px;
          cursor: pointer;
        }
        input, input:focus {
          width: calc(100% - 20px);
          padding: 10px 5px;
          border: solid 1px grey;
          border-left: none;
          border-right: none;
          margin: 5px;
          outline: none;
        }
      }
      .header-key, .row-key {
        display: inline-block;
        width: calc(50% - 30px);
      }
      .header-value, .row-value {
        display: inline-block;
        width: calc(50% - 30px);
      }
    }
  }
}
