<div class="container">
  <select name="" id="">
    <option value="get">GET</option>
    <option value="post">POST</option>
    <option value="put">PUT</option>
    <option value="patch">PATCH</option>
    <option value="delete">DELETE</option>
    <option value="options">OPTIONS</option>
  </select>
  <input type="text">
  <button>Send</button>
  <hr>
  <div class="request-container">
    <div class="button">Header</div>
    <div class="button">Params</div>
    <div class="button">Body</div>
    <div class="button">Cookie</div>
    <div>Request Container</div>
  </div>
  <hr>
  <div class="response-container">
    <div class="request-container">
      <div class="button">Header</div>
      <div class="button">Cookies</div>
      <div class="button">Body</div>
      <div>response container</div>
    </div>
  </div>
</div>
