<div class="container">
  <div #requestUrlContainer class="request-url-container">
    <select name="" id="">
      <option value="get">GET</option>
      <option value="post">POST</option>
      <option value="put">PUT</option>
      <option value="patch">PATCH</option>
      <option value="delete">DELETE</option>
      <option value="options">OPTIONS</option>
    </select>
    <input type="text" [(ngModel)]="requestUrl">
    <button (click)="sendRequest()">Send</button>
  </div>
  <div #requestContainer class="request-container">
    <div class="button-container">
      <div (click)="pickRequest('header')" [ngClass]="requestTabButtonClass('header')">Header</div>
      <div (click)="pickRequest('params')" [ngClass]="requestTabButtonClass('params')">Params</div>
      <div (click)="pickRequest('body')" [ngClass]="requestTabButtonClass('body')">Body</div>
      <div (click)="pickRequest('cookie')" [ngClass]="requestTabButtonClass('cookie')">Cookie</div>
    </div>
    <div class="request-data-container">
      <div class="row-container">
        <button (click)="addRequestElement()">Add</button>
      </div>
      <div class="row-container" *ngFor="let item of getRequestData()">
        <div class="row row-enable">
          <fa-icon class="icon" (click)="removeElement(getRequestData(),item)" [icon]="trash"></fa-icon>
          <fa-icon *ngIf="item.enable" class="icon" (click)="item.enable = !item.enable" [icon]="toggleOn"></fa-icon>
          <fa-icon *ngIf="!item.enable" class="icon" (click)="item.enable = !item.enable" [icon]="toggleOff"></fa-icon>
        </div>
        <div class="row row-key">
          <input type="text" placeholder="Key" [(ngModel)]="item.key">
        </div>
        <div class="row row-value">
          <input type="text" placeholder="Value" [(ngModel)]="item.value">
        </div>
      </div>
    </div>
  </div>
  <div #responseContainer class="response-container">
    <div class="request-container">
      <div class="button-container">
        <div (click)="pickResponse('body')" [ngClass]="responseTabButtonClass('body')">Body</div>
        <div (click)="pickResponse('header')" [ngClass]="responseTabButtonClass('header')">Header</div>
        <div (click)="pickResponse('cookie')" [ngClass]="responseTabButtonClass('cookie')">Cookie</div>
      </div>
    </div>
    <div class="response-data-container">
      <div class="response-body-container">
        <button>Raw</button>
        <button>Preview</button>
        <iframe class="iframe-response" [src]="responseUrl"></iframe>
      </div>
      <!-- <div class="response-header-container">header</div>
      <div class="response-cookie-container">cookie</div> -->
    </div>
  </div>
</div>
