<div class="container">
  <select name="" id="">
    <option value="get">GET</option>
    <option value="post">POST</option>
    <option value="put">PUT</option>
    <option value="patch">PATCH</option>
    <option value="delete">DELETE</option>
    <option value="options">OPTIONS</option>
  </select>
  <input type="text">
  <button>Send</button>
  <div class="container request-container">
    <div class="button-container">
      <div class="button selected">Header</div>
      <div class="button">Params</div>
      <div class="button">Body</div>
      <div class="button">Cookie</div>
    </div>
    <div class="request-data-container">
      Request Container
      <br>
      <div class="header-container">
        <div class="header header-enable">&nbsp;</div>
        <div class="header header-key">Key</div>
        <div class="header header-value">Value</div>
        <div class="header header-description">Description</div>
      </div>
      <div class="row-container">
        <div class="row row-enable">
          <button>Enable</button>
        </div>
        <div class="row row-key">
          <input type="text" placeholder="Key">
        </div>
        <div class="row row-value">
          <input type="text" placeholder="Value">
        </div>
        <div class="row row-description">
          <input type="text" placeholder="Description">
        </div>
      </div>
    </div>
  </div>
  <div class="container response-container">
    <div class="request-container">
      <div class="button-container">
        <div class="button selected">Header</div>
        <div class="button">Cookies</div>
        <div class="button">Body</div>
      </div>
    </div>
    <div class="response-data-container">response container</div>
  </div>
</div>
